# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
toxidose/
venv/
env/
.venv/

# =========================
# Environment files
# =========================
.env
*.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log


opt_1st_files/

plots/

plotss/